<div class="col-sm-3"></div>
<div class="col-sm-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title text-center">Ajout d'utilisateur</div>
        </div>
        <div class="panel-body">
            <form class="form-group">
                <label for="login">Login</label></br>
                <input class="form-control" id="login" type="text" ng-model="user.login" placeholder="Login"></input></br>
            </form>
            <form class="form-group">
                <label for="pwd">Mot de passe</label></br>
                <input class="form-control" id="pwd" type="password" ng-model="user.password" placeholder="Mot de passe"></input></br>
            </form>
            <form class="radio">
                <input id="admin" type="checkbox" ng-model="user.admin"><label for="admin">Administrateur</label></input></br>
            </form>
            <form class="radio">
                <input id="manager" type="checkbox" ng-click="showHideUsers()" ng-model="user.manager"><label for="manager">Manager</label></input></br>
            </form>
            <div ui-view>
            </div>
        </div>
    </div>
    <button class="btn btn-primary btn-block" ng-click="send()">Ajouter</button>
</div>
<div class="col-sm-3"></div>
