<div>
  <h1>Ajouter une nouvelle note</h1>

  <p>Remplir les cases suivantes</p>
  <form>
    <p>Date <input type="text" ng-model="note.date" placeholder="1 janvier 2000"></input></p>
    <p>Intitulé <input type="text" ng-model="note.title" placeholder="Déplacement à Brest"></input></p>
    <p>Montant <input type="text" ng-model="note.amount" placeholder="100"></input></p>
    <p>Devise <input type="text" ng-model="note.currency" placeholder="€"></input></p>
    <p>Commentaire <input type="text" ng-model="note.comment"></input></p>
    <p><button ng-click="addNote()">Valider</button></p>
  </form>
  <p>{{addMe}}</p>
</div>
