<div class="col-sm-6">
    <form class="form-group">
        <label>Date</label></br>
        <input type="text" id="day" maxlength="2" size="2" ng-model="note.day" placeholder="01"></input>
        <input type="text" id="month" maxlength="2" size="2" ng-model="note.month" placeholder="01"></input>
        <input type="text" id="year" maxlength="4" size="4" ng-model="note.year" placeholder="2017"></input>
    </form>
    <form class="form-group">
        <label for="title">Intitulé</label></br>
        <input type="text" id="title" ng-model="note.title" placeholder="Déplacement à Brest"></input></br>
    </form>
    <form class="form-group">
        <label for="amount">Montant</label></br>
        <input id="amount" type="text" ng-model="note.amount" placeholder="100"></input></br>
    </form>
    <form class="form-group">
        <label for="currency">Devise</label></br>
        <input id="currency"type="text" ng-model="note.currency" placeholder="€"></input></br>
    </form>
    <button class="btn btn-success" ng-click="addNote()">Valider</button>
</div>
<div class="col-sm-6">
    <form class="form-group">
        <label for="comment">Commentaire</label></br>
        <input class="form-control" id="comment" type="text" ng-model="note.comment"></input></br>
    </form>
    <form class="form-group">
        <label for="file">Documents associés</label></br>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="f in files">{{f.name}}</li>
        </ul>
        <label class="btn btn-default btn-file">
            Ajouter un document <input id="file" file-model="note.file" type="file" style="display: none;">
        </label>
    </form>
</div>
