<div class="col-sm-6">
    <form class="form-group">
        <label>Date</label></br>
        <input type="text" id="day" maxlength="2" size="2" ng-model="note.day"></input>
        <input type="text" id="month" maxlength="2" size="2" ng-model="note.month" ></input>
        <input type="text" id="year" maxlength="4" size="4" ng-model="note.year"></input>
    </form>
    <form class="form-group">
        <label for="title">Intitulé</label></br>
        <input type="text" id="title" ng-model="note.title"></input></br>
    </form>
    <form class="form-group">
        <label for="amount">Montant</label></br>
        <input id="amount" type="text" ng-model="note.amount"></input></br>
    </form>
    <form class="form-group">
        <label for="currency">Devise</label></br>
        <input id="currency"type="text" ng-model="note.currency"></input></br>
    </form>
</div>
<div class="col-sm-6">
    <form class="form-group">
        <label for="comment">Commentaire</label></br>
        <input class="form-control" id="comment" type="text" ng-model="note.comment"></input></br>
    </form>
    <form class="form-group">
        <label for="file">Documents associés</label></br>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="f in note.files track by $index">
                {{f}}
                <button class="badge glyphicon glyphicon-remove" ng-click="remove(note, note.files[$index])"> </button>
            </li>
            <li class="list-group-item" ng-repeat="f in files">{{f.name}}</li>
            <label class="list-group-item">
                Ajouter un document <input id="file" file-model="note.file" type="file" style="display: none;">
            </label>
        </ul>
    </form>
</div>
<div class="col-sm-12">
    <div class="btn-group">
        <p><button class="btn btn-success" ng-click="update()">Valider</button>
        <button class="btn btn-danger" ng-click="del()">Supprimer</button></p>
    </div>
</div>
