<div>
  <h1>Ajouter une nouvelle note</h1>

  <p>Remplir les cases suivantes</p>
  <form>
    <p>Date</p>
    <label for="day">Jour (JJ)</label>
    <input type="text" id="day" maxlength="2" size="2" ng-model="note.day"></input>
    <label for="month">Mois (MM)</label>
    <input type="text" id="month" maxlength="2" size="2" ng-model="note.month"></input>
    <label for="year">Année (AA)</label>
    <input type="text" id="year" maxlength="4" size="4" ng-model="note.year"></input></br>
    <p>Intitulé <input type="text" ng-model="note.title"></input></p>
    <p>Montant <input type="text" ng-model="note.amount"></input></p>
    <p>Devise <input type="text" ng-model="note.currency"></input></p>
    <p>Commentaire <input type="text" ng-model="note.comment"></input></p>
    <p>Documents associés</p>
    <ul>
        <li ng-repeat="f in note.files track by $index">{{f}}<button ng-click="remove(note, note.files[$index])">X</button></input></li>
    </ul>
    <p><button ng-click="update()">Valider</button><button ng-click="del()">Supprimer</button></p>
  </form>
  <p>{{addMe}}</p>
</div>
