<div class="col-sm-2"></div>
<div class="col-sm-8">
    <div ng-repeat="user in users">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">{{user.login}}</div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-sm-5">Sujet</th>
                                <th class="col-sm-3">Date</th>
                                <th class="col-sm-2">Montant</th>
                                <th class="col-sm-2">Déverrouiller</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="note in notes[user._id] track by $index" ng-click="view(note)">
                                <td class="col-sm-5">{{note.title}}</td>
                                <td class="col-sm-3">{{note.day}} / {{note.month}} / {{note.year}}</td>
                                <td class="col-sm-2">{{note.amount}} {{note.currency}}</td>
                                <td class="col-sm-2"><div class="text-center"><button class="badge" ng-if="note.approved" ng-click="unlock(note)"><span class="glyphicon glyphicon-lock"></span></button></td></div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-2"></div>
