<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand" ui-sref="manager.mdashboard">Gestionnaire de notes de frais</div>
        </div>
        <ul class="nav navbar-nav">
            <li><a ui-sref="manager.mnotes">Toutes les notes</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="logout">Déconnexion</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div ui-view></div>
</div>
