<nav id="navbar-sharp" class="navbar navbar-inverse bg-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand" (click)="login()">Gestionnaire de notes de frais</div>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li (click)="login()">Log in</li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <label>Identifiant</label>
        <input class="form-control" placeholder="Choisir un identifiant" [(ngModel)]="user.login"/><br/>
        <label>Mot de passe</label>
        <input class="form-control" type="password" placeholder="Choisir un mot de passe" [(ngModel)]="user.password"><br/>
        <button class="btn btn-block btn-success" (click)="signup(user)">Inscription</button>
    </div>
    <div class="col-sm-4"></div>
</div>
