<div class="col-sm-3"></div>
<div class="col-sm-6">
    <div *ngFor="let user of users">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">{{user.login}}</div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Sujet</th>
                                <th>Date</th>
                                <th>Montant</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let note of notes[user._id]">
                            <tr (click)="view(note._id)">
                                <td class="col-sm-5">{{note.title}}</td>
                                <td class="col-sm-4">{{note.day}} / {{note.month}} / {{note.year}}</td>
                                <td class="col-sm-3">{{note.amount}} {{note.currency}}</td>
                            </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3"></div>
