<div class="container" style="margin-top: 20px">
    <div class="card">
        <div class="card-block">
            <h4 class="card-title text-center">{{note?.title}}</h4>
            <h6 class="card-subtitle mb-2 text-muted pull-right">{{note?.day}} / {{note?.month}} / {{note?.year}}</h6><br/>
            <strong>Montant</strong>
            <span class="pull-right">{{note?.amount}} {{note?.currency}}</span>
            <div *ngIf="note?.comment">
                <strong>Commentaire</strong>
                <p style="text-indent: 20px">{{note?.comment}}</p>
            </div>
            <div *ngIf="!note?.comment">
                <strong>Pas de commentaire</strong><br/>
            </div>
            <div *ngIf="note?.files.length > 0">
                <strong>Documents associés</strong>
                <ul>
                    <li *ngFor="let f of note?.files">
                        <a href="/uploads/{{note?._id}}/{{f}}" download>{{f}}</a>
                    </li>
                </ul>
            </div>
            <div *ngIf="note?.files.length === 0">
                <strong>Aucun document associé</strong>
            </div>
            <br/>
            <div class="alert alert-success text-center">
                Note validée
            </div>
        </div>
    </div>
</div>
