<div class="container" style="margin-top: 20px">
    <div class="form-group">
        <label>Date</label><br/>
        <div class="input-group">
            <input type="text" class="form-control" id="day" maxlength="2" size="2" [(ngModel)]="note.day" name="day"/>
            <input type="text" class="form-control" id="month" maxlength="2" size="2" [(ngModel)]="note.month" name="month"/>
            <input type="text" class="form-control" id="year" maxlength="4" size="4" [(ngModel)]="note.year" name="year"/>
        </div>
    </div>
    <div class="form-group">
        <label for="title">Intitulé</label><br/>
        <input type="text" class="form-control" id="title" [(ngModel)]="note.title" name="title"/>
    </div>
    <div class="form-group">
        <label for="amount">Montant</label><br/>
        <input id="amount" class="form-control" type="text" [(ngModel)]="note.amount" name="amount"/>
    </div>
    <div class="form-group">
        <label for="currency">Devise</label><br/>
        <select id="currency" class="form-control" type="text" [(ngModel)]="note.currency" name="currency">
            <option *ngFor="let c of currencies">{{c}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="comment">Commentaire</label>
        <textarea class="form-control" rows="4" [(ngModel)]="note.comment" name="comment"></textarea>
    </div>
    <div class="form-group">
        Documents associés
        <label class="custom-file badge badge-success" style="height: 1.1rem"><i class="fa fa-plus" aria-hidden="true"></i><input type="file" class="form-control-file" #filelist (change)="onAddFile(filelist.files)" style="display: none;">
        </label><br/>
        <ul class="list-group">
            <ng-container *ngFor="let filename of note.files">
                <li class="list-group-item justify-content-between">{{filename}}<span class="badge badge-danger"><i class="fa fa-minus" aria-hidden="true"></i></span></li>
            </ng-container>
        </ul>
    </div>
    <div class="btn-group">
        <button class="btn btn-success" (click)="updateNote()">Valider</button>
        <button class="btn btn-danger" (click)="deleteNote()">Supprimer</button>
    </div>
</div>
