<div class="col-sm-3"></div>
<div class="col-sm-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title text-center">{{note?.title}}</div><div class="pull-right">{{note?.day}} / {{note?.month}} / {{note?.year}}</div><br/>
        </div>
        <div class="panel-body">
            <p><strong>Montant</strong><span class="pull-right">{{note?.amount}} {{note?.currency}}</span></p>
            <div *ngIf="note?.comment">
                <strong>Commentaire</strong>
                <p [ngStyle]="{'text-indent': '20px'}">{{note?.comment}}</p>
            </div>
            <div *ngIf="!note?.comment">
                <strong>Pas de commentaire</strong>
            </div>
            <div *ngIf="note?.files.length > 0">
                <strong>Documents associés</strong>
                <ul>
                    <li *ngFor="let f of note?.files">
                        <a href="/uploads/{{note?._id}}/{{f}}" download>{{f}}</a>
                    </li>
                </ul>
            </div>
            <div *ngIf="note?.files.length === 0">
                <strong>Aucun document associé</strong>
            </div>
        </div>
    </div>
    <div class="alert alert-success">
        <p class="text-center">Note validée</p>
    </div>
</div>
<div class="col-sm-3"></div>
